Repository MarathonLabs/marathon, pull requests merged in 2019-12, with the labels that each got.

#295 Bump kotlin version to 1.3.61
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  sample/android-app/buildSrc/src/main/kotlin/Versions.kt
  sample/android-library/buildSrc/src/main/kotlin/Versions.kt
Labels: build, sample

#299 feat(gradle-plugin): add serialStrategy option
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonExtension.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonRunTask.kt
Labels: enhancement, gradle-plugin

#297 fix(influxdb): explicitly specify retention policy in queries
  core/src/integrationTest/kotlin/com/malinskiy/marathon/analytics/metrics/remote/influx/InfluxDbProviderIntegrationSpec.kt
  core/src/integrationTest/kotlin/com/malinskiy/marathon/analytics/metrics/remote/influx/InfluxMetricsProviderIntegrationSpec.kt
  core/src/main/kotlin/com/malinskiy/marathon/analytics/TrackerFactory.kt
  core/src/main/kotlin/com/malinskiy/marathon/analytics/external/influx/InfluxDbTracker.kt
  core/src/main/kotlin/com/malinskiy/marathon/analytics/external/influx/InfluxMetricsProvider.kt
  core/src/main/kotlin/com/malinskiy/marathon/analytics/metrics/remote/influx/InfluxDBDataSource.kt
  core/src/test/kotlin/com/malinskiy/marathon/analytics/metrics/remote/influx/InfluxDBDataSourceTest.kt
Labels: bug, core

#273 feat(exceptions): bugsnag
  .idea/codeStyles/codeStyleConfig.xml
  buildSrc/src/main/kotlin/Versions.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/ApplicationView.kt
  core/build.gradle.kts
  core/src/main/kotlin/com/malinskiy/marathon/config/AppType.kt
  core/src/main/kotlin/com/malinskiy/marathon/exceptions/BugsnagExceptionsReporter.kt
  core/src/main/kotlin/com/malinskiy/marathon/exceptions/ExceptionsReporter.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonPlugin.kt
Labels: build, cli, core, gradle-plugin, ide
