Repository MarathonLabs/marathon, pull requests merged in 2019-11, with the labels that each got.

#286 fix(deployment): add ddmlib module to deployment
  .buildsystem/deploy-github.sh
  .buildsystem/deploy-sonatype.sh
Labels: bug, build

#287 Add small optimization for ignored tests
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/ddmlib/AndroidDeviceTestRunner.kt
Labels: android, vendor

#289 Bump kotlin version
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  kotlin-version
  sample/android-app/buildSrc/src/main/kotlin/Versions.kt
  sample/android-library/buildSrc/src/main/kotlin/Versions.kt
Labels: build, sample

#291 fix(test parsing): support both xTest and xTests as default class name
  cli/src/test/kotlin/com/malinskiy/marathon/cli/config/ConfigFactorySpec.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/Configuration.kt
Labels: cli, core, enhancement
