Repository MarathonLabs/marathon, pull requests merged in 2020-01, with the labels that each got.

#314 Fix for android freeze when batch consists only of ignored tests
  core/src/main/kotlin/com/malinskiy/marathon/execution/queue/QueueActor.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/ddmlib/AndroidDeviceTestRunner.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceTestRunnerSpek.kt
Labels: android, bug, core, vendor

#316 revert(workflow): remove labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: bug

#309 Close bugsnag at the end to prevent hanging due internal thread pool
  cli/src/main/kotlin/com/malinskiy/marathon/cli/ApplicationView.kt
  core/src/main/kotlin/com/malinskiy/marathon/exceptions/BugsnagExceptionsReporter.kt
  core/src/main/kotlin/com/malinskiy/marathon/exceptions/ExceptionsReporter.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonPlugin.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonRunTask.kt
Labels: bug

#315 feat(vendor-android): fix ConcurrentModificationException in logcat l…
  .editorconfig
  sample/android-app/app/build.gradle.kts
  sample/android-library/library/build.gradle.kts
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/line/NullOutputListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/line/OutputLineListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/video/ScreenRecorderTestRunListener.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/ddmlib/DdmlibAndroidDevice.kt
Labels: android, bug, sample, vendor

#325 fix(cli): exit 1 only if configuration allows this
  cli/src/main/kotlin/com/malinskiy/marathon/cli/ApplicationView.kt
Labels: bug, cli

#324 Fix test reporter tries to show video/gif which does not exist
  core/src/main/kotlin/com/malinskiy/marathon/report/html/HtmlSummaryReporter.kt
Labels: enhancement

#308 [Android] Allow to configure to keep video on success
  cli/src/main/kotlin/com/malinskiy/marathon/cli/args/FileConfiguration.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/ConfigFactory.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/DeserializeModule.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/deserialize/ScreenRecordingPolicyDeserializer.kt
  cli/src/test/kotlin/com/malinskiy/marathon/cli/config/ConfigFactorySpec.kt
  cli/src/test/resources/fixture/config/sample_1.yaml
  core/src/main/kotlin/com/malinskiy/marathon/execution/Configuration.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/policy/ScreenRecordingPolicy.kt
  core/src/test/kotlin/com/malinskiy/marathon/analytics/metrics/MetricsProviderFactorySpek.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/queue/QueueActorSpek.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/queue/TestResultReporterTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/report/ExecutionReportSpek.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonExtension.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonRunTask.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/screenshot/ScreenCapturerTestRunListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/video/ScreenRecorderTestRunListener.kt
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/AndroidTestParserSpek.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/ddmlib/DdmlibAndroidDevice.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceTestRunnerSpek.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/DerivedDataManagerSpek.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/IOSTestParserSpek.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/factory/ConfigurationFactory.kt
Labels: enhancement
